@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-6">
        <a href="@Url.ActionLink("", "Administrativo")"><img src="~/static/icons/admin.png" style="height: 40%;"/> Administrativo</a>
    </div>
    <div class="col-md-6">
        <a href="@Url.ActionLink("", "MinhaArea")"><img src="~/static/icons/pesquisar.png" style="height: 40%;"/> Minha Área </a>
    </div>
</div>